<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- css link -->
    <link rel="stylesheet" type="text/css" href="styles.css">
    <!-- google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower&display=swap" rel="stylesheet">
    <!-- jQuery cdn -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- JS link AFTER jQuery-->
    <script src="main.js"></script>
    <!-- axios cdn -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <title>eBaby</title>
</head>
<body>
        <h1>Congratulations, <%= name %>!</h1>
        <p>You have successfully listed your item, <%= item %>, for £<%= price %></p>
        <p>The item description is <%= description %></p>
</body>
</html>