<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- bootstrap cdn -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- css link AFTER bootstrap -->
    <link rel="stylesheet" type="text/css" href="styles.css">
    <!-- jQuery cdn -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- JS link AFTER jQuery-->
    <script src="main.js"></script>
    <!-- axios cdn -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <title>Title of the page</title>
</head>
<body>
    <!-- form -->
    <form action="">
            <label for="name">Name:</label>
            <input type="text" name="name" id="name" placeholder="Type your name here"><br>
    
            <label for="i-am-selling">I am selling:</label>
            <input type="text" name="i-am-selling" placeholder="Type your item name here"></textarea><br>

            <label for="item-description">Description:</label>
            <textarea type="textarea" name="item-description" placeholder="Type a description of your item here..."></textarea><br>

            <!-- submitButton -->
            <input id="submitButton" name="submitButton" type="submit">
</body>
</html>
