<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- css link -->
    <link rel="stylesheet" type="text/css" href="../public/styles.css">
    <!-- google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower&display=swap" rel="stylesheet">
    <!-- jQuery cdn -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- JS link AFTER jQuery-->
    <script src="main.js"></script>
    <!-- axios cdn -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <title>eBaby</title>
</head>
<body>
    <h1>eBaby</h1>
    <!-- form -->
    <form action="">
            <label for="name-of-seller">Your name:</label>
            <input type="text" name="name-of-seller" id="name-of-seller" placeholder="Type your name here..."><br>
    
            <label for="name-of-item">Name of item:</label>
            <input type="text" name="name-of-item" id="name-of-item" placeholder="Type your item name here..."><br>

            <label for="price">Price:</label>
            <input type="text" name="price" id="price" placeholder="Type your item price here..."><br>

            <label for="item-description">Description:</label>
            <textarea type="textarea" name="item-description" placeholder="Type a description of your item here..."></textarea><br>

            <!-- submitButton -->
            <input id="submitButton" name="submitButton" type="submit">
</body>
</html>
